/* ----- Font Classes ----- */
@font-face {
    font-family: lane;
    src: url(/fonts/lane.ttf);
}

@font-face {
    font-family: fabrica;
    src: url(/fonts/fabrica.otf);
}

.lane { font-family: lane, sans-serif; }
.fabrica { font-family: lane, sans-serif; }

/* ----- Utility Classes ----- */

.centered-text { text-align: center; }
.flex-parent {display: flex;}


/* ----- Page Specific CSS ----- */
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#header {
    display: flex;
    justify-content: space-around;
}

#header-title {
    letter-spacing: .3rem;
    font-weight: 400;
}
