/* ----- Font Classes ----- */
@font-face {
    font-family: lane;
    src: url(/fonts/lane.ttf);
}

@font-face {
    font-family: fabrica;
    src: url(/fonts/fabrica.otf);
}

@font-face {
    font-family: source-sans-pro;
    src: url(/fonts/sourcesanspro.otf);
}

.lane { font-family: lane, sans-serif; }
.fabrica { font-family: lane, sans-serif; }



/* ----- Utility Classes ----- */

.centered-text { text-align: center; }

.flex-parent { display: flex; }
.flex-vcenter { align-items: center; }
.flex-hcenter { justify-content: center; }

.full-width { width: 100%; }

.ui-label {
    font-family: source-sans-pro;
    color: #999;
    font-size: 0.7rem;
    text-transform: uppercase;

    background-color: transparent;
    outline: none;
    border: none;
}

.ui-button {
    font-family: source-sans-pro;
    font-weight: 700;
    font-size: 1rem;
    color: #444;

    border: 1px solid #444;
    border-radius: 3px;

    padding: 5px 10px;

    background-color: transparent;
    margin: 10px;

    outline: none;
}

.ui-button:hover {
    box-shadow: 0 5px 10px -5px #888;
}

.ui-control {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.ui-control input {
    width: 100%;
}

/* ----- Generic Page CSS ----- */
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #222;
    overflow: hidden;
}

a:link, a:hover, a:active, a:visited { text-decoration: none }


/* ----- Element/Class Level CSS ----- */
#header {
    position: relative;
    display: flex;
    order: 1;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    box-shadow: 0 5px 5px -5px #888;
    background-color: white;
    padding: .75rem;
}

#header-title {
    letter-spacing: .25rem;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}

.side-header-content {
    width: 25%;
    display: flex;
    align-items: center;
}

input[type="range"] {
    -webkit-appearance: none !important; /*Needed to reset default slider styles */
    margin: auto;
    outline: none;

    height: 1px;

    border-radius: 2px;

    border-top: 1px solid #222;
    border-bottom: 1px solid #999;

    margin-top: 12px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important  ;
    width: 16px;
    height: 16px;

    background-color: #444;
    border-top: 1px solid #999;
    border-bottom: 1px solid #222;
    border-radius: 8px;
    box-shadow: 0 5px 10px -5px #444;
}

#timeline {
    order: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#body {
    display: flex;
    flex-direction: column;
}

#current-time-bar {
    height: 100%;
    width: 0;
    border-left: 1px solid crimson;

    position: absolute;
    z-index: -50;
}

#clock-bar {
    width: 100%;
    height: 1.5rem;
    order: 1;
}

#hour-tick-list {
    margin: 0 0 1rem 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.hour-tick {
    position: relative;
    list-style-type: none;
    display: inline-block;
    box-sizing: border-box;

    border-left: 1px solid #222;
    font-family: fabrica, sans-serif;
    padding-top: .5rem;
    padding-left: .5rem;
    text-align: left;
}

.form-input {
    padding: .5rem 0.5rem 0.5rem;
    font-size: 1rem;
    border: 0;
    color: #212121;
    outline: none;
    width: auto;
    font-family: source-sans-pro;
}

.align-right {
    float: right;
    margin-right: 20px;
}

.field {
    padding: 5px;
}

.last-field {
    border-top: 1px solid #BDBDBD;
}

#login-form, #register-form {
    margin: 10px;
    box-shadow: inset 3px 4px 10px -6px #AAA;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    background-color: white;
}

#login-header, #register-header {
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

#glogin:hover{
    color: #999;
}

#scale-label {
    padding-top: 8px;
    flex-grow: 1;
    text-align: center;
}

.inline {
    display: inline;
}

#button-container {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

#vertical-indent {
    border-left: 1px solid #111;
    border-right: 1px solid #333;
}

#login-button, #register-button {
    flex-grow: 1;
}

.important-btn {
    background-color: #222;
    color: white;
    font-weight: 700;
    letter-spacing: .1rem;
    padding: .75rem;   
    box-shadow: inset 4px 7px 6px -4px #555;
}

.important-btn:hover {
    box-shadow: none;
}

.block {
    display: block;
}

.dropdown-menu {
    padding: 20px;
}

.dark {
    font-weight: 700;
    font-size: 1rem;
    color: #444;
}

.med-dark {
    font-size: 1rem;
    font-weight: 700;
    color: #666;
}

.spacer {
    margin-top: .5rem;
    display: block;
}

.ui-link {
    font-family: source-sans-pro;
    font-weight: 700;
    font-size: 1rem;
    color: #444;
}

.stream-container {
    position: relative;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.stream-label {
    font-size: 1.5rem;
    font-family: source-sans-pro;
    text-transform: uppercase;
}

.stream {
    flex: 0 1 95%;
    padding: 1rem 0;
}

.stream-line {
    border-top: 1px solid #222;
    border-bottom: 1px solid #999;
    width: 100%;
}

#left-stream-bar {
    flex: none;
    width: 5%;
}

.item {
    position: absolute;
    top: 50%;
}

.node {
    width: 25px;
    height: 25px;

    border: 2px solid #222;
    border-radius: 25px;

    background-color: white;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.node:hover{ background-color: #AAA; }
.node:active{ background-color: #222; }

.event {
    transform: translate(0, -50%);
    height: 100%;
    background-color: cornflowerblue;
    z-index: 0;
}

.event:hover{ background-color: #5077BE; }
.event:active{ background-color: #A2BFF4; }

.capitalize {
    text-transform: capitalize;
}



#new-stream-button {
    border-radius: 50px;
}

#new-stream-cont {
    position: relative;
    left: 21%;
}

.delete-button {
    background-color: darkred;
    color: white;
}

#node-dialog{
    background-color:red;
    position:fixed;
}

.ui-clickable:hover {
    color: #222;
}

/* -- Disguised Input -- */

.disguised-input { outline: none; }

.disguised-input:after {
    content: '';
    display: block;
    height: 1px;

    /* Initial state and transisiton */
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

/* Target mouseover and focus states */
.disguised-input:focus:after, .disguised-input:hover:after {
    width: 100%;
    background: #222;
}
.delete-control:hover { color: darkred; }

.stream-toolbox {
    color: #222;
    margin: 1rem;
    flex: 1 0 auto;
}

#streams-panel {
    order: 2;
    overflow-y: auto;
    overflow-x: hidden;
}
