<div class="popover-styling" ng-controller="streamController">
<div id='node-dialog' class="ui-control flex-parent flex-hcenter">
    <div>
                                    <label class="ui-label">Summary: </label>
                                    <input type="text" ng-model="summary" name="summary">
                                </div>
                                <div>
                                    <label class="ui-label">Description: </label>
                                    <input type="text" ng-model="description" name="description">
                                </div>
                                <div>
                                    <label class="ui-label">Due Time: </label>
                                    <!-- TIME PICKER -->
                                        <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                </div>
                                <div class="full-width">
                                    <button class="inline ui-button" ng-click="addNode()">Add Node</button>
                                    <button class="inline ui-button"  ng-click="closeDialog()">Cancel</button>
                                </div>
                            </div>
 </div>