<div class="modal-header">
    <h3 class="modal-title">Node Creation</h3>
</div>
<div class="modal-body">
    <div>
        <label class="ui-label">Summary: </label>
        <input type="text" ng-model="summary" name="summary">
    </div>
    <div>
        <label class="ui-label">Description: </label>
        <input type="text" ng-model="description" name="description">
    </div>
</div>
<div class="modal-footer">
    <button class="inline ui-button" ng-click="ok()">Add Item</button>
    <button class="inline ui-button"  ng-click="cancel()">Cancel</button>
</div>
