<div class="modal-header">
    <h3 class="modal-title">Node Details</h3>
</div>
<div class="modal-body">
    <form>
    	Summary: <label ng-hide="edit">{{node.summary}}</label><br>
    	<input type="text" ng-model="summary" placeholder="{{node.summary}}" ng-show="edit"></input>
    	Description: <label ng-hide="edit">{{node.description}}</label>
        <input type="text" ng-model="description" placeholder="{{node.description}}" ng-show="edit"></input>

    </form>
</div>
<div class="modal-footer">
	<button class="ui-button" ng-click="edit=true" ng-hide="edit">Edit</button>
	<button class="ui-button" ng-click="edit=false" ng-show="edit">Back</button>

	<button class="ui-button delete-button" ng-click="delete()" ng-hide="edit">Delete</button>
    <button class="ui-button save-button" ng-click="save()" ng-show="edit">Save</button>    

    <button class="ui-button" ng-click="cancel()">Cancel</button>
</div>
