<!-- PROJECT STREAMS -->
<div ng-repeat="stream in project.streams" ng-controller="StreamDetailsCtrl">
    <div class="stream-container" ng-hide="hiding">

        <div id="left-stream-bar" class="stream"></div>

        <!-- STREAM DROPDOWN MENU -->
        <div class="dropdown" dropdown is-open="status.displaying">
            <!-- Stream Button -->
            <button class="stream-label dropdown-toggle" ng-click="showStreamDetails(stream._id,$event)">{{stream.name}}</button>
            <!-- Stream Details Menu -->
            <div class="dropdown-menu" ng-click="$event.stopPropagation()">
                <!-- Display Mode -->
                <div ng-hide="editing" class="ui-control flex-parent flex-hcenter">
                    <label class="ui-label">Name: {{ streamValues.name }}</label>
                    <label class="ui-label">Beginning: {{ streamValues.beginning }}</label>
                    <label class="ui-label">End: {{ streamValues.end }}</label>
                    <label class="ui-label">Users: {{ streamValues.users }}</label>
                    <button class="btn" ng-click="editing = true">Edit</button>
                    <button class="btn" ng-click="deleteStream(stream._id); hiding = true">Delete</button>
                </div>
                <!-- Edit Mode -->
                <form ng-show="editing" ng-submit="saveEditedStream(stream);editing = false">
                    <label>Name:</label>
                    <input type="text" ng-model="streamValues.name" name="ttl"><br/>
                    <label>Beginning:</label>
                    <input type="text" ng-model="streamValues.beginning" name="start"><br/>
                    <label>End:</label>
                    <input type="text" ng-model="streamValues.end" name="end"><br/>
                    <button class="btn" type="submit">Save</button>
                </form>
            </div>
        </div>

        <!-- TODO: Rig up click to create items -->
        <div class="stream"></div>

        <div class="item-container" ng-repeat="node in stream.nodes">
            <div class="item node" data-start-date="{{node.dueDate}}"></div>
        </div>

        <div class="item-container" ng-repeat="event in stream.events">
            <div class="item event" data-start-date="{{event.startTime}}" data-end-date="{{event.endTime}}"></div>
        </div>

    </div>
</div>

<!-- NEW STREAM BUTTON -->
<div class="stream-container">
    <div id="new-stream-cont">
        <button id="new-stream-button" class="ui-button" ng-click="open()">+</button>
    </div>
</div>




